/*Background Color*/
body {
    background-color: white;
}
.page-header{
    text-align: center;
    color: white;
}

/*Modal Box:*/
#modal-background {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1;
    padding-top: 10px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
}
#myModal {
    position: absolute;
    animation: pulse 5s infinite;
}
.modal-header, .modal-footer {
    text-align: center;
    padding: 5px 16px;
    background-color: red;
    color: white;
  
}
@keyframes pulse{
    0%, 100%{
        background-color: red;
        left: 0; 
        top: 0;
    }
    25% {
        background-color: yellow;
        left: 50%;
        top: 0;
    }
    50% {
        background-color: rebeccapurple;
        left: 50%;
        top: 50%;
    }
    75% {
        background-color: blue;
        left: 0;
        top: 50%;
    }

}
.modal-body {
    width: 500px;
}
    /*Close Button*/
#close {
    float: left;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 50px;
}
#close:hover,
#close:focus {
    cursor: pointer;
    color: black;
}

/*Open Button:*/
.open{
    left: 50%;
    position: absolute;
    font-style: italic;
    margin-bottom: 20px;
    background-color: burlywood;
}

/*Side Bars*/
#side-bar{
    position: fixed;
    height: 100%;
    width: 20%;
    top: 0;
    left: 0;
    background-color: cornflowerblue;
}

#side-bar a{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    padding: 6px 8px 6px 16px;
    color: grey;
    text-decoration: none;
}

#side-bar a:hover{
    color: white;
}
#side-bar a:active {
    color: white;
}
#side-bar a:focus {
    color: white;
}